.help-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 7%;
  margin: 1%;
  color: #fd3565;
  cursor: pointer;
  z-index: 100;
}

#profile-info-side {
  height: 100%;
  width: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: white;
  transition: 0.5s;
  box-shadow: -2px -1px 1px 1px rgba(128, 128, 128, 0.3);
}

.right-sidebar-icons {
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  color: gray;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.right-sidebar-icons-group,
#close-right-sidebar {
  cursor: pointer;
}

.profile-detail-header {
  margin-top: 4%;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  flex-direction: row;
}

.profile-detail-initials {
  width: 3rem;
  height: 3rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  border-radius: 50%;
  margin-right: 4%;
  background-color: lightgray;
  justify-content: center;
}

.profile-detail-first-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.profile-detail-tabs {
  margin-top: 6%;
  display: flex;
  color: gray;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile-detail-tabs > div {
  flex: 1;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.profile-detail-tab {
  color: black;
  font-weight: 550;
  border-bottom: 4px solid #5b6bbd;
}

.profile-detail-list {
  padding: 6%;
}

.red {
  color: red;
}

.lightgray {
  color: lightgray;
}

.gray {
  color: gray;
}

.detail-item-name-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.detail-label-name::after {
  content: "*";
  color: red;
}

.detail-group {
  padding-top: 6%;
}

.detail-item-company,
.detail-item-email,
.detail-item-owner {
  color: #5b6bbd;
}

.detail-label-email::after,
.detail-label-phone::after {
  content: "\25BC";
  padding-left: 1%;
  font-size: 0.7rem;
}

.icon-sm-size {
  color: gray;
  font-size: 0.6rem;
}

.detail-item-rating,
.detail-item-status,
.detail-item-reasons,
.detail-item-assignee {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-label-company::after {
  content: "\1F512";
  padding-left: 1%;
  font-size: 0.7rem;
}
